<div class="parent-container">
  <div class="child-container">
    <h2 id="head"><b><span id="font1">Find </span><i class="fa fa-search" id="icon"></i> <span id="font2"> UR </span><span id="curly">Recipe!!</span>
    </b></h2><br>
    <form>
      <div class="form-group">
        <div class="form-group col-lg-6 col-lg-offset-3 input-group">
          <input #recipe class="form-control" placeholder="Recipe name" type="text">
          <span class="BT1 input-group-addon glyphicon glyphicon-book" aria-hidden="true" (click)="getRecipe()"></span>
                    
  
          <input #place class="form-control" placeholder="Place" type="text">
          <span class="BT2 input-group-addon glyphicon glyphicon-pushpin" aria-hidden="true" (click)="getPlaces()"></span>
          

        </div>
        <br>
        <button (click)="getVenues()" class="btn btn primary col-lg-2 col-lg-offset-5 " id="btn" type="button">Find</button>

      </div>
    </form>
  </div>
</div><br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default col-6">
        <div class="panel-heading"><b>How to make</b></div>
        <div class="panel-body">
          <div *ngFor="let recipe of recipeList" class="list-group-item clearfix">
            <div class="pull-left">
              <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
              <a href="{{recipe.url}}" class="list-group-item-text">{{ recipe.url }}</a>
            </div>

            <span class="pull-right">
          <img src="{{recipe.icon}}" style="width: 70px; height: 50px;" align="center"/>

      </span>

          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default col-6">
        <div class="panel-heading"><b>Where to get</b></div>
        <div class="panel-body">

          <div *ngFor="let venue of venueList" class="list-group-item clearfix">
            <div class="pull-left">
              <h4 class="list-group-item-heading">{{ venue.name }}</h4>
            </div>

            <span class="pull-right">
             <a href="http://maps.google.com/maps?saddr={{currentLat}},{{currentLong}}
             &daddr={{venue.location.formattedAddress[0]}},{{venue.location.formattedAddress[1]}},{{venue.location.formattedAddress[2]}}">
               <img src="../../assets/google.png" style="width: 30px; height: 30px;"></a>
      </span>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>



