.parent-container {
  position: relative;
  height:100%;
  width: 100%;
}

.child-container {
  color: white;
  text-align: center;
  position: center;

}
.desc {
  font-family: Georgia;
  font-size: 17px;
}

.thumbnail {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  min-width: 40%;
  border-radius: 5px;
}

.thumbnail-description {
  min-height: 40px;
}

.thumbnail:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.BT1:hover{
color: #F4C430;
}
.BT2:hover{
  color: green;
}


#btn{
  background-color: #d8bd64;
  color: black;
}
#btn:hover{
  color: #B22234;
}

#curly{
  font-family: fantasy;
  color: #B22234;
}

#font1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 35px;
  color: #3C3B6E;
}
#font2{
  font-family: monospace;
  font-size: 20px;
  color: #FFFFFF;
}
#icon{
  color: black;
}
